* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.time-line {
  background-color: #333;
  color: #fff;
}

.time-line__content {
  display: flex;
}

.time-line__content:nth-child(even) {
  background-color: red;
  justify-content: flex-end;
}

.time-line__content .time-line__content-wrapper {
  flex-direction: row;
  display: flex;
}

.time-line__content:nth-child(even) .time-line__content-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
